.myPageModal{
  .ant-col{
      min-height: 32px;
      margin-bottom: 20px;
  }
  .ant-col-4{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
}
.hs{
  color: red;
}
.blueStyle{
  margin-left: 10px;
}